<ul class="fw-tree d-md-block d-none">
    <li>
        <a class="tree-item node-group">SARANA FARMASI</a>
        <ul>
            @foreach (var item in AppConstants.Reports)
            {
                string Url = $"/view-report/{item.No}";
                <li><a href="@Url" class="tree-item node-item">@item.Title</a></li>
            }
        </ul>
    </li>  
    <li>
        <a class="tree-item node-group">TENAGA</a>
        <ul>
            <li><a class="tree-item node-item">JENIS TENAGA</a></li>
            <li><a class="tree-item node-item">PENDIDIKAN</a></li>
            <li><a class="tree-item node-item">TEMPAT BEKERJA</a></li>
            <li><a class="tree-item node-item">STATUS PEGAWAI</a></li>
        </ul>
    </li>
</ul>



@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
